
    <div class="form-group breadcrumb text-center text-primary">
        <strong>Change Password</strong>
        <hr/>
        <label for="input-pass">Old password:</label>
        <input ng-model="model.oldPassword" id="input-pass" class="form-control"/>
        <label for="input-new-pass">New password:</label>
        <input ng-model="model.newPassword" id="input-new-pass" class="form-control"/>
        <label for="input-confirm-new-pass">Confirm password</label>
        <input ng-model="model.confirmPassword" id="input-confirm-new-pass" class="form-control margin-bottom-15"/>
        <button class="btn-primary btn-md" ng-click="changePassword(model)">Change</button>

    </div>
