<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div ng-include="'views/partials/navigation.html'"></div>
            </div>
        </div>

        <form class=" col-md-6 col-md-offset-1 breadcrumb">

            <div class="row  margin-bottom-15">
                <div class="col-md-4">
                    <div class="pull-left">
                        <div class="row margin-bottom-05">
                            <div form-group class="col-md-12">
                                <div class="pull-left">
                                    <label for="new-ad-title">Title</label>
                                    <input id="new-ad-title" type="text" placeholder="title"
                                           ng-model="ad.title" required="required" class="form-control"/>
                                </div>
                            </div>
                        </div>
                        <div class="row margin-bottom-05">
                            <div form-group class="col-md-12">
                                <div class="pull-right">
                                    <label for="new-ad-text-area">Text</label>
                                    <textarea id="new-ad-text-area" type="text" placeholder="title"
                                              ng-model="ad.text" required="required"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pull-left  margin-top-1">
                        <img ng-show="ad.imageDataUrl" data-ng-src='{{ad.imageDataUrl}}'
                             class="pull-right img-thumbnail image-size"/>
                        <img ng-hide="ad.imageDataUrl"  ng-src="./img/no_image_available_svg.png"
                             class="pull-right img-thumbnail image-size"/>

                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>
            <div class="row margin-bottom-05">
                <div form-group class="col-md-12 ">
                    <label for="edit-ad-image">Image</label>
                    <div  id='edit-ad-image' ng-model="ad.imageDataUrl" upload-image-with-preview></div>
                </div>

            </div>
            <div ng-controller="HomeCtrl">
                <div class="row margin-bottom-05">
                    <div class="col-md-3">
                        <label for="new-ad-select-category">Category:</label>
                        <select ng-model="ad.categoryId" id="new-ad-select-category"  class="form-control">

                            <option ng-repeat="category in categories" ng-selected="category.name===ad.categoryName"
                                    value="{{category.id}}">{{category.name}}
                            </option>
                        </select>
                    </div>
                    <div class="col-md-9"></div>
                </div>
                <div class="row margin-bottom-05">
                    <div class="col-md-3">
                        <div class="pull-left">
                            <label for="new-ad-select-town">Town:</label>
                            <select ng-model="ad.townId" id="new-ad-select-town"  class="form-control">
                                <option ng-repeat="town in towns" ng-selected="town.name===ad.townName"
                                        value="{{town.id}}">{{town.name}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-9"></div>
                </div>
            </div>
            <div class="row margin-bottom-05">
                <div class="col-md-12">
                    <a class="btn btn-default" ng-click="crud.updateAd(ad)">Edit</a>
                    <a href="#/user/ads" class="btn btn-default">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>