<form>
    <div class="form-group breadcrumb text-center text-primary">
        <strong>Edit Profile</strong>
        <hr/>
        <label for="input-name">Name:</label>
        <input ng-model="user.name" id="input-name" class="form-control"/>
        <label for="input-email">Email:</label>
        <input ng-model="user.email" id="input-email" class="form-control"/>
        <label for="input-phone">Phone:</label>
        <input ng-model="user.phoneNumber" id="input-phone" class="form-control"/>
        <label for="select-town">Town:</label>
        <select id="select-town" ng-model="user.townId" class="form-control margin-bottom-15">
            <option ng-repeat="town in towns" value="{{town.id}}"
                    ng-selected="user.townId===town.id">{{town.name}}
            </option>
        </select>
        <button class="btn-primary btn-md" ng-click="updateProfile(user)">Update</button>

    </div>
</form>