<div class="container-fluid">

    <div class="row">
        <div class="col-lg-2">
            <div class="breadcrumb">
                <h4 margin-bottom-10>To
                    publish a
                    new
                    ad,
                    please login.</h4>

                <div class="btn-group margin-bottom-10 center-block">
                    <a href="#" class="btn-primary btn-sm btn-block margin-bottom-10 text-center">Login</a>

                    <a href="#" class="btn-primary btn-sm btn-block margin-bottom-10 text-center">Register</a>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div adds></div>
        </div>
        <div class="col-lg-2>
            Coll 3
        </div>


    </div>



</div>