<div class="container-fluid" ng-controller="HomeCtrl">

    <div class="row">
        <div class="col-lg-2">
            <div ng-include="'views/partials/logRegBtns.html'"></div>
        </div>
        <div class="col-lg-8" ng-controller="AddsCtrl">
            <div adds ads='ads' pager="pager"></div>
        </div>
        <div class="col-lg-2">
            <div class="row">
                <div class="breadcrumb text-center">
                    <h3> Categories</h3>
                    <h4 ng-repeat="category in categories" ng-click="">{{category.name}}</h4>
                </div>
            </div>

            <div class="row">


            </div>
        </div>


    </div>


</div>