<div class="container-fluid" ng-controller="HomeCtrl">

    <div class="row" ng-controller="AddsCtrl">
        <div class="col-md-2">
            <div ng-if="!isAuthenticated()" ng-include="'views/partials/logRegBtns.html'"></div>
            <div ng-if="isAuthenticated()" ng-include="'views/partials/navigation.html'"></div>
        </div>
        <div class="col-md-8">
            <div adds ads='ads'></div>
            <div pager data="pager"></div>
        </div>
        <div class="col-md-2">
            <div class="row">
                <div categories data="categories" func="categoriesFunc"></div>
            </div>
            <div class="row">
                <div towns data="towns" func="townsFunc"></div>

            </div>
        </div>
    </div>
</div>