<div class="breadcrumb">
    <h4 class="margin-bottom-05"><strong>My Ads</strong></h4>
    <hr id="navigation-hr" class="margin-0 margin-bottom-05">
    <a ng-click="setStatus(-1)" class="center-block">All</a>
    <a ng-click="setStatus('Published')" class="center-block">Published</a>
    <a ng-click="setStatus('WaitingApproval')" class="center-block">Waiting Approval</a>
    <a ng-click="setStatus('Inactive')" class="center-block">Inactive</a>
    <a ng-click="setStatus('Rejected')" class="center-block">Rejected</a>
</div>