<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div ng-include="'views/partials/navigation.html'"></div>
            </div>
            <div class="row">
                <div ng-include="'views/partials/ads-navigation.html'"></div>
            </div>
        </div>
        <div class="col-md-10">
            <div class="container-fluid">
                <span ng-model="categoryId"></span>

                <div ng-repeat="add in ads" class="breadcrumb">

                    <div class="row">
                        <div class="col-md-8">
                            <div class="row margin-bottom-20">
                                <div class="col-sm-6 text-center">
                                    <span><strong>{{add.title}}</strong></span>
                                </div>
                                <div class="col-sm-6">
                                    <span class="pull-right">{{add.date | date:"MM-dd-yyyy"}}</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img data-ng-src='{{add.imageDataUrl}}' width="70%" height="70%"
                                         class="pull-right img-thumbnail image-size"/>
                                    <img ng-hide="add.imageDataUrl" ng-src="./img/no_image_available_svg.png"
                                         width="60%"
                                         height="70%"
                                         class="pull-right img-thumbnail image-size"/>
                                </div>
                                <div class="col-sm-8">
                                    <div class="row margin-bottom-20">
                                        <div class="col-md-12">
                                            <div class="field-wrapper"> {{add.text}}</div>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <div class="col-sm-2"> Category:</div>
                                        <div class="col-sm-10"><span class="field-wrapper"> {{add.categoryName}}</span>
                                        </div>
                                    </div>
                                    <div class="row margin-bottom-15">
                                        <div class="col-sm-2"> Town:</div>
                                        <div class="col-sm-10"><span class="field-wrapper"> {{add.townName}}</span>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <ul class="list-unstyled left-border text-center">
                                <li class="list-group-item"> Status: {{add.status}}</li>
                                <li class="list-group-item" ng-if="add.status!=='Inactive'">
                                    <button class="btn-md btn-primary" ng-click="crud.deactivateAd(add)">
                                        Deactivate
                                    </button>
                                </li>
                                <li ng-if="add.status==='Inactive'" class="list-group-item">
                                    <button class="btn-md btn-primary width-100px"
                                            ng-click="navigateToEditPage(add.id)">Edit

                                    </button>
                                </li>
                                <li ng-if="add.status==='Inactive'" class="list-group-item">
                                    <button class="btn-md btn-primary width-100px" ng-click="crud.publishAgain(add)">
                                        Publish
                                        again
                                    </button>
                                </li>
                                <li ng-if="add.status==='Inactive'" class="list-group-item">
                                    <button class="btn-md btn-primary width-100px"
                                            ng-click="navigateToDeletePage(add.id)">
                                        Delete
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div pager data="pager"></div>
        </div>
    </div>
</div>