<div class="breadcrumb">
    <h4 class="margin-bottom-05 "><strong>Navigation</strong></h4>
    <hr id="navigation-hr" class="margin-0 margin-bottom-05 searching-attributes-wrapper">
    <a href="#/user/home" class="center-block searching-attributes-wrapper">Home</a>
    <a href="#/user/ads" class="center-block searching-attributes-wrapper">My Ads</a>
    <a href="#/user/ads/publish" class="center-block searching-attributes-wrapper">Publish new Add</a>
    <a href="#/user/profile" class="center-block searching-attributes-wrapper">Edit profile</a>
</div>