<div class="container ">
    <div class="row">
        <div class="col-md-2">
            <div ng-include="'views/partials/logRegBtns.html'"></div>
        </div>
        <div class="col-md-offset-2 col-md-8 breadcrumb">
            <form name="signUpForm" class="form-horizontal">
                <legend>Create New User</legend>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label for="username" class="pull-left">Username</label>
                            <input id="username" type="text" placeholder="Username"
                                   ng-model="user.username" required class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-8 "></div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label for="password" class="pull-left">Password</label>

                            <input id="password" type="password" placeholder="password"
                                   ng-model="user.password" required class="form-control"/>
                        </div>

                    </div>
                    <div class="col-md-offset-1 col-md-4 ">
                        <div class="form-group">
                            <label for="confirm-password" class="pull-left">Confirm Password</label>

                            <input id="confirm-password" type="password" placeholder="confirm password"
                                   ng-model="user.confirmPassword"  class="form-control"/>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label for="password" class="pull-left">Name</label>

                            <input id="name" type="text" placeholder="name"
                                   ng-model="user.name" required class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-4 ">
                        <div class="form-group">
                            <label for="email" class="pull-left">Email</label>

                            <input id="email" ng-pattern="emailPattern" type="text" placeholder="email"
                                   ng-model="user.email" required class="form-control"/>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 ">
                        <div class="form-group">
                            <label for="phone" class="pull-left">Phone</label>

                            <input id="phone" type="text" placeholder="phone"
                                   ng-model="user.phone" required class="form-control"/>
                        </div>
                    </div>
                    <div class="col-md-offset-1 col-md-4 ">
                        <div class="form-group" >
                            <label for="towns-select" class="pull-left">Town</label>

                            <select id="towns-select" placeholder="town"
                                    ng-model="user.town" required="required" class="form-control small text-primary">
                                <option ng-repeat="town in towns" class="text-primary" value="{{town.id}}">
                                    {{town.name}}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-3"></div>
                    </div>
                </div>
                <div class="row">
                    <button ng-click="signUp(user)"

                            class="btn btn-primary btn-sm" ng-disabled="signUpForm.$invalid || user.password != user.confirmPassword">
                        Create
                    </button>
                    <a href="#/" class="btn btn-primary btn-sm">Cancel</a>
                </div>
            </form>
        </div>
    </div>
</div>