.margin-bottom-05 {
    margin-bottom: 0.5em;
}

.margin-bottom-10 {
    margin-bottom: 1.0em;
}

.margin-bottom-15 {
    margin-bottom: 1.5em;
}

.margin-bottom-20 {
    margin-bottom: 2.0em;
}

.margin-bottom-25 {
    margin-bottom: 2.5em;
}

.margin-bottom-30 {
    margin-bottom: 3.0em;
}

.margin-bottom-0 {
    margin-bottom: 0px;
}

.margin-0 {
    margin: 0 auto;
}

.margin-top-10 {
    margin-top: 10em;
}

.margin-top-5 {
    margin-top: 5em;
}

.margin-top-2 {
    margin-top: 2em;
}
.margin-top-1 {
    margin-top: 1em;
}
.background-color-gray {
    background-color: #597ea2;
}

#towns-select {
    /*height:20px;*/
}

.form-control {
    height: 40px !important;
}

#navigation-hr {
    height: 1px;
    background-color: #666666;

}

.halfSize {
    width: 40%;
    height: 40%;
    /*display: inline-block;*/
}

.border-radius-05 {
    border-radius: 5px;
}

.border-radius-10 {
    border-radius: 10px;
}

.float-left {
    float: left;
}

.float-right {
    float: right;
}

#new-ad-text-area {
    /*width: 30%;*/
    /*height: 20%;*/
}

#new-ad-image {
    width: 30%;
}

.jumbotron {
    background-color: #18bc9c;
}