<div ng-controller="AddsCtrl" class="container-fluid">
    <div ng-repeat="add in ads" class="breadcrumb">
        <div class="row margin-bottom-20">
            <div class="col-sm-6 text-center">
                <span><strong>{{add.title}}</strong></span>
            </div>
            <div class="col-sm-6">
                <span class="pull-right">{{add.date | date:"MM-dd-yyyy"}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img data-ng-src='{{add.imageDataUrl}}' width="80%" class="pull-right"/>
            </div>
            <div class="col-sm-8">
                <div class="row margin-bottom-20">
                    <div> {{add.text}}</div>
                </div>
                <div class="row margin-bottom-20">
                    Name:<span class="breadcrumb"> {{add.ownerName}}</span>
                </div>
                <div class="row margin-bottom-20">
                    Tel: <span class="breadcrumb">{{add.ownerPhone}}</span>
                </div>
            </div>
        </div>
    </div>

</div>