<div class="container-fluid">
    <span ng-model="categoryId"></span>

    <div ng-repeat="add in ads" class="breadcrumb">
        <div class="row margin-bottom-20">
            <div class="col-sm-6 text-center">
                <span><strong>{{add.title}}</strong></span>
            </div>
            <div class="col-sm-6">
                <span class="pull-right">{{add.date | date:"MM-dd-yyyy"}}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img data-ng-src='{{add.imageDataUrl}}' width="70%" height="70%"
                     class="pull-right img-thumbnail image-size"/>

                <img ng-hide="add.imageDataUrl" ng-src="./img/no_image_available_svg.png" width="60%" height="70%"
                     class="pull-right"/>
            </div>
            <div class="col-sm-8">
                <div class="row margin-bottom-20">
                    <div> {{add.text}}</div>
                </div>
                <div class="row margin-bottom-20">
                    Name:<span> {{add.ownerName}}</span>
                </div>
                <div class="row margin-bottom-20">
                    Email:<span> {{add.ownerEmail}}</span>
                </div>
                <div class="row margin-bottom-20">
                    Tel: <span>{{add.ownerPhone}}</span>
                </div>

            </div>
        </div>
    </div>
</div>