<div class="container-fluid">

    <div class="table-responsive ">
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Username</th>
                <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-repeat="user in adminusersdata">
                <td>
                    <output>{{user.username}}</output>
                </td>
                <td class="col-sm-2 text-center">
                    <output>{{user.name}}</strong></output>
                </td>
                <td class="col-sm-2 text-center">
                    <output>{{user.email}}</output>
                </td>
                <td class="col-sm-2 text-center">
                    <output>{{user.phoneNumber}}</output>
                </td>
                <td class="col-sm-2 text-center">
                    <a ng-click="adminusersdata.adminUserOperations.navigateToEdit(user)">Edit</a>
                    <a ng-click="adminusersdata.adminUserOperations.navigateToDelete(user)">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>