<form class="form-group breadcrumb text-center text-primary">
    <strong>Change Password</strong>
    <hr class="hr-admin-ad"/>
    <hr/>
    <label for="username">Username:</label>
    <input id="username" ng-model="currentUser.username" disabled="disabled" value="{{currentUser.username}}" class="field-wrapper"/>
    <label for="input-new-pass">New password:</label>
    <input ng-model="currentUser.newPassword" id="input-new-pass" class="form-control"/>
    <label for="input-confirm-new-pass">Confirm password</label>
    <input ng-model="currentUser.confirmPassword" id="input-confirm-new-pass" class="form-control margin-bottom-15"/>
    <button class="btn-primary btn-md" ng-click="adminUsersOperations.changePassword(currentUser)">Change</button>

</form>