<div class="container-fluid">

    <div class="row">
        <div class="col-md-2">
            <div ng-if="isAuthenticated()" ng-include="'views/partials/admin/navigation.html'"></div>
        </div>
        <div class="col-md-8">

            <div class="breadcrumb">

                <div class="row">
                    <div class="col-md-8">

                        <div class="row margin-bottom-15">
                            <div class="col-sm-2"> Title:</div>
                            <div class="col-sm-10"><input ng-model="ad.title"/></div>
                        </div>
                        <div class="row margin-bottom-15">
                            <div class="col-sm-2"> Text:</div>
                            <div class="col-sm-10"><textarea ng-model="ad.title"/></div>
                        </div>
                        <div class="row margin-bottom-15">
                            <div class="col-sm-2"><span> Image:</span></div>
                            <div class="col-sm-10">
                                <div upload-image-with-preview ng-model="add.imageDataUrl"></div>

                            </div>
                        </div>
                        <div class="row margin-bottom-15">
                            <div class="col-sm-2"><span>Email:</span></div>
                            <div class="col-sm-10"><input ng-model="ad.title"/></div>
                        </div>
                        <div class="row margin-bottom-15">
                            <div class="col-sm-2"> Tel:</div>
                            <div class="col-sm-10"><input ng-model="ad.title"/></div>
                        </div>
                        <div class="row margin-bottom-15">
                            <div class="col-sm-2"> Category:</div>
                            <div class="col-sm-10"><span class="field-wrapper">{{add.categoryName}}</span></div>
                        </div>
                        <div class="row margin-bottom-15">
                            <div class="col-sm-2"> Town:</div>
                            <div class="col-sm-10"><span class="field-wrapper"> {{add.townName}}</span></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row margin-bottom-20">
                            <img data-ng-src='{{add.imageDataUrl}}' width="70%" height="70%"
                                 class="pull-right img-thumbnail image-size"/>

                            <img ng-hide="add.imageDataUrl" ng-src="./img/no_image_available_svg.png" width="60%"
                                 height="70%"
                                 class="pull-right"/>
                        </div>
                    </div>
                </div>

                <div class="col-md-offset-1 col-sm-4">

                    <div class="row margin-bottom-15"></div>
                    <div class="row margin-bottom-15"></div>
                    <div class="row margin-bottom-15"></div>
                    <div class="row margin-bottom-15 text-center">

                        <div class="center-block"> Status: <span
                                class="field-wrapper admin-ad-status">{{add.status}}</span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>