<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div ng-include="'./views/partials/admin/navigation.html'"></div>
        </div>

        <div class="col-md-offset-1 col-md-6">
            <div class="table-responsive">
                <table class="table table-bordered">
                    <thead>
                    <th>id</th>
                    <th>Category</th>
                    <th>Action</th>
                    </th>
                    </thead>
                    <tbody>
                    <tr ng-repeat="category in categories">
                        <td>
                            {{category.id}}
                        </td>
                        <td>
                            {{category.name}}
                        </td>
                        <td>
                            <a ng-click="navigateToEditCategory(category)">Edit</a>
                            <a ng-click="navigateToDeleteCategory(category)">Delete</a>
                        </td>
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
        <div class="col-md-3"></div>
    </div>
    <div class="row text-center">
        <button class="btn btn-primary" ng-click="location.path('/admin/categories/create')">Create New Category</button>
    </div>

</div>