<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div ng-include="'./views/partials/admin/navigation.html'"></div>
        </div>
        <div class="col-md-offset-2 col-md-6 text-center breadcrumb">


            <h3>Delete Category</h3>
            <hr class="hr-admin-ad"/>
            <label for="edit-category">Category</label>
            <span id="edit-category" class="field-wrapper margin-bottom-15">{{currentCategory.name}}</span>

            <br/>

            <button class="btn btn-primary" ng-click="deleteCategory(currentCategory)">Delete</button>
            <button class="btn btn-primary" ng-click="location.path('/admin/categories')">Cancel</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>