<div class="breadcrumb text-center">
    <h4 class="margin-bottom-05"><strong>Navigation</strong></h4>
    <hr id="navigation-hr" class="margin-0 margin-bottom-05 searching-attributes-wrapper">
    <a href="#/admin/ads" class="center-block searching-attributes-wrapper">Ads</a>
    <a href="#/admin/users" class="center-block searching-attributes-wrapper">Users</a>
    <a href="#/admin/categories" class="center-block searching-attributes-wrapper">Categories</a>
    <a href="#/admin/towns/list" class="center-block searching-attributes-wrapper">Towns</a>
</div>